@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MovieManage.</h1>

</div>
<p id="home-text">Use this website to manage movies and actors. You can also view data on how much Twitter currently approves of the movies and actors you manage.</p>