@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MovieManage.</h1>
</div>
<p id="home-text">Use this website to manage movies and actors. You can also view data on how much Twitter currently approves of the movies and actors you manage.</p>
<div id="home-infographic">
    <table>
        <tr>
            <td>
                <p><b>Permanently</b> store movie and actor information across site sessions</p>
            </td>
            <td>
                <img class="home-img" src="https://theegeek.com/wp-content/uploads/2013/06/database-management-system.jpg" alt-text="A visual of the Earth next to a server rack" />
            </td>
        </tr>
        <tr>
            <td>
                <img class="home-img" src="http://s3.amazonaws.com/digitaltrends-uploads-prod/2013/12/socialmediaapps.jpg" alt-text="Businessperson analyzing a social network" />
            </td>
            <td>
                <p>Learn what the <b>public</b> thinks of your selected movies and actors</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Upload <b>images</b> to represent your favorite movies and actors</p>
            </td>
            <td>
                <img class="home-img" src="https://cdn.cultofmac.com/wp-content/uploads/2015/09/LL_Fujifilm_X100T_001.jpg" alt-text="A camera" />
            </td>
   
        </tr>
        <tr>
            <td>
                <img class="home-img" src="https://cdn1.iconfinder.com/data/icons/materia-arrows-symbols-vol-4/24/018_156_arrow_sort_sorting_exchange-512.png" alt-text="Icon for sorting data" />
            </td>
            <td>
                <p><b>Sort</b> tables for better analysis</p>
            </td>
        </tr>
    </table>
</div>