@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the movie management portal.</h1>
    <p>Use this website to manage movies and actors. You can also view data on how much Twitter currently approves of the movies and actors you manage.</p>
</div>
