html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.media-image-in-table {
    width: 250px;
    height: auto
}

#home-text{
    margin: auto;
    text-align: center;
    width: 60%;
}